<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- UTILIZATOR BAZA DE DATE-->
    <add key="User ID" value="adelina" />
    <!-- PAROLA UTILIZATOR BAZA DE DATE-->
    <add key="Pwd" value="capi@dop2ia" />
    <!-- BAZA DE DATE-->
    <add key="Initial Catalog" value="RomanianTrips"></add>
    <!-- NUME SERVER SQL-->
    <add key="Data Source" value="tcp:romaniantripsserver.database.windows.net"></add>
    <!-- TIP LOGIN SQL; VALORI: PE BAZA DE USER = true; PE BAZA DE USER ID SI PWD = false -->
    <add key="Integrated Security" value="False"></add>
    <!-- DURATA DE TIMP IN CARE SE ASTEAPTA RASPUNS DE LA SERVER SQL (IN SECUNDE) -->
    <add key="Connection Timeout" value="30"></add>
    <!-- DURATA DE TIMP LA CARE SE REIA IMPORTUL DATELOR(IN MINUTE) -->
    <add key="Synchronization Interval" value="3"></add>
    <!-- ADRESA SITE DE UNDE SE FACE DOWNLOAD -->
    <add key="Web Site" value="http://turism.gov.ro/informatii-publice/"></add>
    <!-- FOLDERUL DE PE DISK UNDE SE FACE DOWNLOAD-->
    <add key="Download Path" value="D:\IN"></add>
    <!-- FOLDERUL DE PE DISK UNDE SE MUTA FISIERE AGENTI TURISM-->
    <add key="TravelAgents Path" value="D:\OUT\TravelAgents"></add>
    <!-- FOLDERUL DE PE DISK UNDE SE MUTA FISIERE HOTELURI-->
    <add key="Hotels Path" value="D:\OUT\Hotels"></add>
    <!-- FOLDERUL DE PE DISK UNDE SE MUTA FISIERE RESTAURANTE-->
    <add key="Restaurants Path" value="D:\OUT\Restaurants"></add>
    <!-- FOLDERUL DE PE DISK UNDE SE MUTA FISIERE DESCOPERA ROMANIA-->
    <add key="DiscoverRomania Path" value="D:\OUT\DiscoverRomania"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="RomanianTripsEntities" connectionString="metadata=res://*/Model.RTModel.csdl|res://*/Model.RTModel.ssdl|res://*/Model.RTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:romaniantripsserver.database.windows.net;initial catalog=RomanianTrips;persist security info=True;user id=adelina;password=capi@dop2ia;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>